*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "General Sans";
}
html,body{
    width: 100%;
    height: 100%;

}
#main{
    width: 100%;
    height: auto;
}
#hero{
    height: 100vh;
    width: 100%;
    background-color: #000;
    color: #fff;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
}
#nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
#heading{
    margin-top: 90px;
}

#heading h1{
    margin-left: 30px;
    font-size: 9vw;
    font-family: "General Sans Regular";
    text-transform: uppercase;
    font-weight: 900;
    opacity: .7;
}
#heading #secondh1{
margin-left: 230px;
} 
.blocktext{
    width: fit-content;

}
.blocktext h5{
    text-transform: uppercase;
    font-size:15px;
    text-align: right;
}
#smallHeadings{
    margin-top: 100px;
    padding-right: 50px;


}
#smallHeadings h5{
    text-transform: uppercase;
    margin-top: .5vw;
    font-size: 1vw;
    text-align: right;
}
#herofooter{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#herofooter a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
#herofooter #iconset{
    display: flex;
    gap: 5;

}
#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
    
}
#second{
    color: #fff;
    padding-right: 10vw;
    padding-top: 200px;
    background-color: #000;
    width: 100%;
    height: auto;
}
.elem{
    width:100%;
    padding: 3.5vw 3vw;
    border-top: 1px solid #888;
}
.elem h1{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: .7;

}
.elemlast{
    border-bottom: 1px solid #888;
}